<strong>Hello,  {{ member }} </strong>
<p>Your question was answered.</p>
<p>
  <strong>Question: </strong> {{ question }}. <br />
  <strong>Answer: </strong> {{ answer }}. <br />
  <strong>Answer at: </strong> {{ answer_at }}. <br />
  <br />
</p>
